body {
  color: #474646;
  font-size: 18px;
}

a, blockquote, blockquote h3 {
  color: #446e9b;
}

h2 {
  margin-top: 25px !important;
  padding-top: 0 !important;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
  background-color: #446e9b;
  border-color: #446e9b;
}
